/* Style for the slider container */
#home-slider {
  width: 100%;
  overflow: hidden;
}

/* Style for each slide */
.slick-slide {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

/* Style for the image */
.slide img {
  width: 100%;
  
  height: 800px; /* Adjust height as needed */
  object-fit: cover; /* Ensure the entire image is visible */
}

/* Responsive styles */
@media (max-width: 768px) {
  #home-slider .slide img {
    max-height: 400px; /* Reduce height on smaller screens */
  }
}
